# emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lockp
.\#*

#other
**/.vscode
**/.DS_Store
**/.idea
**/.cpcache
**/.nrepl-port
clojure/**/target/**
**/vendor/**
*.o
*.out
**/.gradle/**
**/.bsp/**
**/compiled/**
**/_build/**
**/build/**
**/gradlew
**/gradlew.bat
**/gradle/wrapper/**
**/.stack-work/**
.stack-work/
**/cache
**/_playground
**/bin
**/obj
**/*.fasl
	  